@property --progress {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
body {
    font-family: "Manrope", sans-serif;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.welcome {
    color: #000000;
    margin-left: 20px;
    margin-top: 0%;
}
.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: #C1C5DD 0px 0px 4px;
    box-sizing: border-box;
  }
nav a {
  text-decoration: none;
  color: #2151DA;
  font-weight: bold;
  margin-left: 20px;
  transition: background 0.3s ease, color 0.3s ease;
  transition: padding 0.3s ease, background 0.3s ease, color 0.3s ease;

}
nav a:hover {
  background-color: #C1C5DD;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: padding 0.3s ease, background 0.3s ease, color 0.3s ease;
}
 .prog{
  animation: fillprog 2s ease-in-out forwards;
}
@keyframes fillprog {
  
  from {
    width: 0;
  }
}
.welcome-message {
    position: relative;
    color: #4f5364;
    margin-left: 20px;
    margin-bottom: 5px;
}
.btn {
    height: 50px;
    width: 200px;
    position: absolute;
    right: 15px;
    bottom: 5px;
    background-color: #2151DA;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn2{
    height: 50px;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 5px;
    background-color: #A6AAC1;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover {
  background-color: #002682;
}
.btn2:hover{
  background-color: #4f5364;
}
.fa-play {
    position: absolute;
    right: 180px;
    bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
h4 {
    color: #555;
    margin-top: 0%;
    margin-left: 20px;
    
}
.card {
    position: relative;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    padding: 20px;
    background: #F2F0F6;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.fa-bar-chart {
  display: flex;
  justify-content: right;
  align-items: bottom;
  margin-left: 40%;
}
.number {
  font-size: 24px;
  font-weight: bold;
  color: #0039B5;
}
.text {
  font-size: 16px;
  color: #7a7777;
}
.circle {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  --progress : 0%;
  background: conic-gradient(
    #0039B5 var(--progress, 0%),
    #fff var(--progress, 0%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fullcircle 2s ease-in-out forwards;
}
@keyframes fullcircle {
  from {
    --progress: 0%;
  }
  to{
    --progress: 75%;
  }
}
.latestcard {
    position: relative;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    height: 300px;
    background-color:#F2F0F6;
    margin-left: 0%;
    margin-right: 2%;
    margin-top: 0%;
}
.fa-trophy {
    position: absolute;
    right: 20px;
    top: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.recentcard {
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
    width: 95%;
    height: 300px;
    background-color:#F2F0F6;
}
.icon{
    border-radius: 5px;
    position: absolute;
    margin-left: 0px;
    width: 50px;
    height: 50px;
    background-color: #A6AAC1;
}
.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mycourses-text{
    color: #1B1B20;
    opacity: 0.8;
}
.box{
    margin-left: 1.3%;
    width: 70%;
    height: 50px;
    border:none;
    border-radius: 3px;
    background-color:#F2F0F6;
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 2%;
}
.mycourses-input  {
    margin-left: 1.2%;
    color: #414659;
}
.provider{
    width: 30%;
    margin: 0%;
    margin-left: 0.9%;
}
.category{
    width: 32%;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 2%;
}
.other-row{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 2%

}
.card-current{
    position: relative;
    border-radius: 15px;
    padding: 0px;
    width: 50%;
    height: 550px;
    background-color:#F2F0F6;
    margin-top: 3%;
    margin-left: 1.3%;
}
.info{
    position: relative;
    border-radius: 15px;
    padding: 0px;
    width: 30%;
    height: 300px;
    background-color:#F2F0F6;
    margin-top: 3%;
    margin-left: 15.5%;
}
.time{
    position: absolute;
    border-radius: 15px;
    padding: 0px;
    width: 30%;
    height: 100px;
    margin-top: 40px;
    margin-left: 20%;
}
.time-logo{
    position: absolute;
    margin-top: 60px;
    margin-left: 5%;
    font-size: 20px;
    background-color: #A6AAC1;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.certificate{
    position: absolute;
    border-radius: 15px;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-top: 20%;
    margin-left: 0%;
}
.tier{
    position: relative;
    border-radius: 15px;
    padding: 0px;
    width: 30%;
    height: 210px;
    background-color:#0039B5;
    color: #ffffff;
    margin-left: 67%;
    margin-top: -210px;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
}
.row{
  display: flex;
  gap: 30px;
  padding-right: 0.7%;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    margin-left: 2%;
  }
  .card {
    width: 85%;
    margin-bottom: 20px;
    margin-left: 0% !important;
  }
  .btn{
    position: relative;
    padding: 0px 20px;
    left: 15px;
  }
  .fa-play{
    position: absolute;
    left: 30px;

  }
  .latestcard{
    width: 85%;
    margin-bottom: 20px;
  }
  .recentcard{
    width: 85%;
    margin-bottom: 20px;
    margin-left: 0% !important;
  }
  #prog1 {
    top: 44% !important;
  }
  #comp1{
    position: absolute;
    top: 115px !important;
  }
  #prog2{
    top: 66% !important;
  }
  #comp2{
    top: 185px !important;
  }
  #prog3{
    top: 88% !important;
  }
  #comp3{
    top: 255px !important;
  }
  #icon1{
    top: 30%;
  }
  #icon2{
    top: 52% !important;
  }
  #icon3{
    top: 74% !important;
  }
  nav{
    width: 100%;
  }
  nav a {
  text-decoration: none;
  color: #2151DA;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 0% !important;
  transition: background 0.3s ease, color 0.3s ease;
  transition: padding 0.3s ease, background 0.3s ease, color 0.3s ease;
  }
  .navbar {
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: #C1C5DD 0px 0px 4px;
  }
  nav{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px !important;
  }
  .mycourses-text{
    margin-left: 1.3%;
  }
  .box{
    margin-left: 2%;
    width: 110%;
  }
  #course-category{
    margin-left: 30%;
    width: 140% !important;
  }
  #cat{
    margin-left: 30% !important;
  }
  #pubbut{
    margin-left: 43% !important;
  }
  #discard{
    margin-left: 7% !important;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    margin-left: 1.5% !important;
  }
  .card-current{
    width: 95% !important;
  }
  h2{
    top: 47.5% !important;
  }
  #percent{
    left: 82% !important;
  }
  .info{
    width: 95%;
    margin-left: 1.5% !important;
  }
  .certificate{
    position: absolute;
    border-radius: 15px;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-left: 0%;
  }
  #cer{
    margin-left: 45% !important;
  }
  #cert-logo{
    margin-left: 25% !important;
  }
  .time-info{
    margin-left: 20%;
  }
  .card-current button{
    top: 20% !important;
    left: 55% !important;
    width: 150px !important;
  }
  h3{
    font-size: 85% !important;
  }
  .row{
    margin-left: 4%;
  }
  .other-row{
    flex-direction: column;
  }
  .tier{
    display: none;
    left: -50% !important;
  }
  #one{
    top: 85% !important;
  }
  #two{
    top: 85% !important;
  }
  #three{
    top: 40% !important;
  }
  h5{
    top: 65% !important;
  }
  #curr{
    top: 45% !important;
  }
  form{
    margin-top: 20px;
  }
  #send{
    margin-left: 4%;
  }
  .description{
    margin-left: 4%;
  }
}
